@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="text-shadow: #000 -1px 1px">Cadastro OAK</h1>
    <p>Cadastro e listagem de produtos da OAKs</p>
    <div>
        <p>
            <a asp-action="Create" asp-controller="Cadastroes" class="btn btn-primary">Cadastrar Produto</a>
        </p>
        <p>
            <a asp-action="Index" asp-controller="Cadastroes" class="btn btn-primary">Listagem de Produtos</a>
        </p>
    </div>

</div>
